__pycache__
.vscode
build
CLRerNet
CLRNet
DLNet
frame*
paper
ros2_ws/calibrationdata*
ros2_ws/build
ros2_ws/install
ros2_ws/log
ros2_ws/rosbag2_*
SCNN
seg_label_generate
Ultra-Fast-Lane-Detection-v2
*.mp4